{% extends 'base.html.twig' %}

{% block title %}New Books{% endblock %}

{% block body %}
<div class="bg-image" style="background-image: url('https://i.pinimg.com/564x/34/e6/52/34e6527b20992df0236d2c8f87910daa.jpg'); height: 100vh">
    <div class="container text-center">
        <h1 style="color: whitesmoke; font-size: 36px; font-weight: bold;">Create your new book</h1>

        {{ include('books/_form.html.twig') }}
        <div class="row">
            <div class="col-md-10">
                <a href="{{ path('MyBooks_show', {'id': myBooks.id}) }}" class="btn btn-light mt-3 btn-sm">Back to your books list</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
